<form action='/form'>
  <ul>
      <li><label for='name'>Name:</label>
          <input name='name' value='' />
      </li>
      <li><label for='address'>Address:</label>
          <input name='address' value='' />
      </li>
      <li><label for='email'>e-mail:</label>
          <input name='email' value='' />
      </li>
  </ul>
  <input type='submit' value="GO!" />
</form>
